{{template "base" . }}

{{define "content"}}

 <div class="container">
      <div class="row">
        <div class="col">
          <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail rounded mx-auto d-block room-image">

        </div>

      </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Major's Suite</h1>
                <p> Your home away from home set in the majestic waters of the Atlantic Oceans, this will be a vacation to remember</p>
            </div>
        </div>

        <div class="row"> 
          <div class="col text-center">
            <a id="check-availability-btn" href="#!" class="btn btn-success"> Check Availability</a>
          </div>
        </div>

    </div>
  <script src="/static/js/book-room.js"></script>

{{end}}

{{ define "js" }}

SearchAvailability({{.CSRFToken}}, "2")

{{ end }}